<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>328089921204-0tg0ecm2e646helkivl4f9gn2sfd80uc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.328089921204-0tg0ecm2e646helkivl4f9gn2sfd80uc</string>
	<key>API_KEY</key>
	<string>AIzaSyC65yPykKLqICzY5dL0-D6L9A2lHSDupdA</string>
	<key>GCM_SENDER_ID</key>
	<string>328089921204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.messageboardApp</string>
	<key>PROJECT_ID</key>
	<string>groupproj01-messageboard</string>
	<key>STORAGE_BUCKET</key>
	<string>groupproj01-messageboard.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328089921204:ios:e2170a6a943fed9bc519e1</string>
</dict>
</plist>